<!-- add-user.component.html -->

<div class="add-user">
  <div class="header">
    <h3>Add New User</h3>
  </div>

  <form [formGroup]="addUserForm" (ngSubmit)="addUser()">
    <div class="p-field">
      <label for="FirstName">First Name:</label>
      <input type="text" id="FirstName" formControlName="FirstName" />
    </div>

    <div class="p-field">
      <label for="LastName">Last Name:</label>
      <input type="text" id="LastName" formControlName="LastName" />
    </div>

    <div class="p-field">
      <label for="Email">Email:</label>
      <input type="email" id="Email" formControlName="Email" />
    </div>

    <div class="p-field">
      <label for="Role">User Role:</label>
      <select id="Role" formControlName="Role">
        <!-- <option value="Admin">Admin</option> -->
        <option value="ContentManager">Content Manager</option>
        <option value="Trainee">Trainee</option>
      </select>
    </div>

    <button type="submit"  [disabled]="!addUserForm.valid">Add User</button>
  </form>
</div>

  