<!-- reset-password.component.html -->

<form [formGroup]="resetPasswordForm">
    <p-card header="Reset Password" [style]="{width: '360px'}">

        <div class="field">
            <label for="Email">Email</label>
            <input type="text" pInputText formControlName="Email" class="w-full" id="Email" placeholder="enter email" autocomplete="email" />
            <small *ngIf="Email.invalid && (Email.dirty || Email.touched)" class="block p-error" >
                <div *ngIf="Email.errors?.['required']">Email is required. </div>
                <div *ngIf="Email.errors?.['Email']">Invalid email. </div>
            </small>
        </div>

        <div class="field">
            <label for="NewPassword">New Password </label>
            <input type="password" pInputText formControlName="NewPassword" class="w-full" id="NewPassword" placeholder="enter new password" autocomplete="new-password"/>
        </div>
        <small *ngIf="NewPassword.invalid && (NewPassword.dirty || NewPassword.touched)"
                class="block p-error">
            <div *ngIf="NewPassword.errors?.['required']">Password is required.</div>    
        </small>

        <div class="field">
            <label for="ConfirmPassword">Confirm Password </label>
            <input type="password" pInputText formControlName="ConfirmPassword" class="w-full" id="ConfirmPassword" placeholder="confirm password" autocomplete="new-password" />
        </div>
        <small *ngIf="ConfirmPassword.invalid && (ConfirmPassword.dirty || ConfirmPassword.touched)"
                class="block p-error">
            <div *ngIf="ConfirmPassword.errors?.['required']">Password is required.</div>    
        </small>

        <small class="block p-error">
            <div  *ngIf="resetPasswordForm.errors?.['passwordMismatch'] && NewPassword.valid && ConfirmPassword.valid"> Passwords should match.  </div>

        </small>
            
       

<p-button type="submit"  label="Reset Password" styleClass="w-full"  [disabled]="resetPasswordForm.invalid"   ></p-button>


    </p-card>
    </form>
  