<!-- update-course.component.html -->

<!-- <div class="sidebar-container">
  <app-cm-sidebar></app-cm-sidebar>
</div> -->
<div class="update-course-container">
  <h2>Edit Course Data</h2>
  <form [formGroup]="updateCourseForm" (ngSubmit)="saveChanges()">
    
    <!-- Course Image Preview and Upload -->
    <div class="form-group">
      <label for="courseImage">Course Image</label>
      <div class="course-image-preview">
        <img [src]="courseImagePreview" alt="Course Image" *ngIf="courseImagePreview">
      </div>
      <label for="changeImage">Change Course Image: </label>
      <input type="file" (change)="onImageChange($event)"  />
    </div>

    <!-- Course Title -->
    <div class="form-group">
      <label for="courseTitle">Course Title</label>
      <input id="courseTitle" type="text" formControlName="courseTitle" />
    </div>

    <!-- Course Description -->
    <div class="form-group">
      <label for="courseDescription">Course Description</label>
      <textarea id="courseDescription" formControlName="courseDescription"></textarea>
    </div>

      <!-- Course Tags -->
       <div class="form-group">
        <label for="courseTags">Course Tags</label>
        <div formArrayName="courseTags">
          <div *ngFor="let tag of courseTags.controls; let i = index" [formGroupName]="i">
            <input type="text" formControlName="tag" />
            <button type="button" (click)="removeTag(i)">Remove</button>
          </div>
        </div>
        <button type="button" (click)="addTag('')">Add Tag</button>
      </div>


      <!-- Course Modules -->
        <div class="form-group">
          <label for="courseModules">Course Modules</label>
          <div formArrayName="courseModules">
            <div *ngFor="let module of courseModules.controls; let i = index" [formGroupName]="i">
              <input type="text" formControlName="module" />
              <button type="button" (click)="editModule(i, module.value)">Edit</button>
              <button type="button" (click)="removeModule(i)">Remove</button>
            </div>
          </div>
          <button type="button" (click)="addModule('')">Add Module</button>
        </div>

    <!-- Exclusive to Company Employees -->
    <div class="form-group">
      <label for="exclusiveToCompanyEmployees">Exclusive to Company Employees</label>
      <input id="exclusiveToCompanyEmployees" type="checkbox" formControlName="exclusiveToCompanyEmployees" />
    </div>

    <button type="submit">Submit Changes</button>
  </form>
</div>



