<!-- //create-course.component.html -->
<form [formGroup]="createCourseForm" (ngSubmit)="onSubmit()">
  <div class="header">
    <h3>Create Course</h3>
  </div>

  <div class="p-field">
    <label for="CourseImage">Course Image:</label>
    <input type="file" id="CourseImage" (change)="onFileChange($event)">
    <div class="preview" *ngIf="courseImagePreview">
      <img [src]="courseImagePreview" alt="Course Image Preview">
    </div>
  </div>
  <br>

  <div class="p-field">
    <label for="CourseTitle">Course Title:</label>
    <input type="text" id="CourseTitle" pInputText formControlName="CourseTitle">
  </div>
  <br>

  <div class="p-field">
    <label for="CourseDescription">Course Description:</label>
    <input type="text" id="CourseDescription" pInputText formControlName="CourseDescription" maxlength="500">
      <small class="error">Course description cannot exceed 500 characters.</small>
    </div>

  <br>

  <div class="p-field" [formGroupName]="COURSE_TAGS">
    <label for="CourseTags">Course Tags:</label>
    <div *ngFor="let tag of CourseTags.controls; let i = index" class="tag">
      <input type="text" pInputText [formControlName]="i">
      <span class="remove-icon" (click)="removeTag(i)"><i class="pi pi-times-circle"  style="font-size: 2rem" ></i></span>
    </div>
    <br>
    <button type="button" pButton label="Add Tag" (click)="addTag('')"></button>
  </div>
  <br>

  <div class="p-field" [formGroupName]="COURSE_MODULES">
    <label for="CourseModules">Course Modules:</label>
    <div *ngFor="let module of CourseModules.controls; let i = index" class="module">
      <input type="text" pInputText [formControlName]="i">
      <span class="remove-icon" (click)="removeModule(i)"><i class="pi pi-times-circle" style="font-size: 2rem"></i></span>
    </div>
    <br>
    <button type="button" pButton label="Add Module" (click)="addModule('')"></button>
  </div>
  <br>

 
  <br>

  <div class="p-field">
    <label>Exclusive To Company Employees?</label>
    <div class="radio-group">
      <span class="invisible">...........................................................</span>
      <p-radioButton name="ExclusiveToCompanyEmployees" value="true" formControlName="ExclusiveToCompanyEmployees" label="Yes"></p-radioButton>
      <span class="invisible">........................................................................................</span>
      <p-radioButton  name="ExclusiveToCompanyEmployees" value="false" formControlName="ExclusiveToCompanyEmployees" label="No"></p-radioButton>
    </div>
  </div>

  <button type="submit" pButton label="Save Course" [disabled]="!createCourseForm.valid" ></button>
</form>




















