<!-- forgot-password.component.html -->

<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <p-card header="Forgot Password" [style]="{width: '360px'}">
      <div class="field">
        <label for="email">Email</label>
        <input type="text" pInputText formControlName="email" class="w-full" id="email" placeholder="Enter email" autocomplete="email" />
        <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error">
          <div *ngIf="email.errors?.['required']">Email is required.</div>
          <div *ngIf="email.errors?.['email']">Invalid email.</div>
        </small>
      </div>
      <p-button type="button" label="Request OTP" styleClass="w-full" (click)="requestOTP()" [disabled]="email.invalid"></p-button>
      
      <div *ngIf="otpSent" class="field">
        <label for="otp">OTP</label>
        <input type="text" pInputText formControlName="otp" class="w-full" id="otp" placeholder="Enter OTP" />
        <small *ngIf="otp.invalid && (otp.dirty || otp.touched)" class="block p-error">
          <div *ngIf="otp.errors?.['required']">OTP is required.</div>
        </small>
      </div>
      <p-button *ngIf="otpSent" type="submit" label="Submit" styleClass="w-full" [disabled]="forgotPasswordForm.invalid"></p-button>
    </p-card>
  </form>
  