// admin-dashboard.component.scss
@import "primeicons/primeicons.css";

// Define color variables
$primary-color: #001f3f; // Navy Blue
$accent-color: #ff6600; // Burnt Orange
$background-color: #a7a7bb;
$input-border-color: #ccc;
$input-focus-border-color: $primary-color;
$label-color: #001f3f;
$text-color: #ffffff;
$accent-color-light: lighten($accent-color, 15%);
$primary-color-light: lighten($primary-color, 15%);


.dashboard-container {
  display: flex;
  flex-direction: row;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.sidebar {
  flex: 0 0 250px;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.content {
  flex: 1;
  margin-left: 250px;
  padding: 20px;
  background-color: #f0f0f0;

  @media (max-width: 768px) {
    margin-left: 0;
    padding: 10px;
  }

  .analytics-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .card {
      background-color: #fff;
      border-radius: 5px;
      padding: 20px;
      width: 30%;
      margin-bottom: 20px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);

      @media (max-width: 768px) {
        width: 100%;
      }

      h2 {
        color: #333;
        margin-bottom: 10px;
      }

      p {
        font-size: 1em;
        margin: 5px 0;
      }
    }
  }
}
