 <!-- update-course-materials.component.html -->

<form (ngSubmit)="saveChanges()" class="add-course-materials-form" [formGroup]="contentForm">
<div class="entire">
  <div class="header">
    <h2>Edit Course Content</h2>
    <span>.................................................................................................................................................................................................................................</span>
    <br>
    <h4>{{ courseTitle }} <br> {{ ModuleName }}</h4>

    <!-- Show loading spinner when loading is true -->
  <div *ngIf="loading" class="spinner-container">
    <p-progressSpinner></p-progressSpinner>
  </div>

    <!-- <div *ngIf="contentList.length === 0">
    <h3>Add content to this module first so as to edit it.</h3>
  </div> -->
  </div>
  <div class="content-container" formGroupName="contentList" #contentContainer>
    <div cdkDropList (cdkDropListDropped)="drop($event)">
      <div *ngFor="let content of contentList.controls; let i = index" [formGroupName]="i" cdkDrag>

        <div *ngIf="content.get('type')?.value === 'video'" class="border-box">
          <label for="videoTitle">Video Title:</label>
          <input type="text" formControlName="videoTitle" style="width: 100%;">
          <br><br>
          <label for="videoDescription">Video Description:</label>
          <textarea class="text-area" style="width: 100%" formControlName="videoDescription" rows="3"></textarea>
          <br><br>
          <label for="video">Video Upload:</label>
          <p-fileUpload name="VideoFile" chooseIcon="pi pi-upload" chooseLabel="Upload Different Video" mode="basic" accept="video/*" maxFileSize="100000000" (onSelect)="onVideoSelect($event, i)" (onRemove)="onVideoRemove(i)" #videoUpload styleClass="custom-upload-button"></p-fileUpload>
          <div *ngIf="content.get('videoUrl')?.value">
            <video [src]="content.get('videoUrl')?.value" controls width="100%"></video>
            <br>
            <button type="button" class="remove-video" (click)="removeVideo(i)">Remove Video</button>
          </div>
          <br>
          <p-progressBar class="video-progress-bar" *ngIf="uploadProgress > 0 && uploadProgress < 100" [value]="uploadProgress"></p-progressBar>
        </div>

        <div *ngIf="content.get('type')?.value === 'reading'" class="border-box">
          <label for="readingTitle">Reading Content Title:</label>
          <input type="text" formControlName="readingTitle" style="width: 100%;">
          <br>
          <label for="readingContent">Reading Content:</label>
          <br>
          <p-editor formControlName="readingContent" [style]="{'height':'320px'}" [placeholder]="'Enter course content'"></p-editor>
          <br>
          <button type="button" class="remove-reading" (click)="removeReadingContent(i)">Remove Reading Content</button>
          <br>
        </div>

        <div *ngIf="content.get('type')?.value === 'quiz'" class="border-box">
          <div formArrayName="questions">
            <div *ngFor="let question of getQuestions(i).controls; let qIndex = index" [formGroupName]="qIndex">
              <label for="questionText">Question:</label>
              <textarea formControlName="questionText" style="width: 100%;" rows="3"></textarea>
              <br>
              <div formArrayName="choices">
                <div *ngFor="let choice of getChoices(i, qIndex).controls; let cIndex = index" [formGroupName]="cIndex">
                  <br>
                  <label for="choice">Choice {{ cIndex + 1 }}:</label>
                  <textarea formControlName="Choice" style="width: 70%;" rows="1"></textarea>
                  <input type="checkbox" formControlName="isCorrect" /> Correct
                  <i class="pi pi-times-circle" (click)="removeChoice(i, qIndex, cIndex)" style="cursor: pointer; color: red;" style="font-size: 2rem"></i>
                </div>
              </div>
              <br>
              <button type="button" (click)="addQuizChoice(i, qIndex)">Add Choice</button>
              <br>
              <br>
            </div>
          </div>
          <br>
          <button type="button" class="remove-quiz" (click)="removeQuiz(i)">Remove Question</button>
          <br>
        </div>

      </div>
    </div>
  </div>
  <button type="submit" class="save-button">Save Changes</button>
</div>
</form>
