//course-list.component.html
<!-- <div>
  <button type="button" (click)="createNewCourse()" aria-label="Add New Course" pButton label="Create New Course"></button>
</div> -->

<div *ngIf="courses.length === 0">
  <p>No courses have been created.</p>
</div>

<div *ngIf="courses.length ===0">
  <div *ngFor="let course of courses">
    <div class="course-item"></div>
      <div class="course-header">
        <img *ngIf="course.CourseImage" [src]="course.CourseImage" alt="Course Image">
        <h4>{{ course.CourseTitle}}</h4>
        <p>{{ course.CourseDescription }}</p>
      </div>
      <div class="course-tags">
        <span *ngFor-="let tag of course.CourseTags">{{ tag }}</span>
      </div>

  </div>

</div>
























































































<!-- <div *ngFor="let course of courses">
    <h2>{{ course.fields.CourseTitle['en-US'] }}</h2>
    <p>{{ course.fields.CourseDescription['en-US'] }}</p>
  </div> -->