// course-list.component.scss

// Define color variables
$primary-color: #001f3f; // Navy Blue
$accent-color: #ff6600; // Burnt Orange
$background-color: #a7a7bb;
$input-border-color: #ccc;
$input-focus-border-color: $primary-color;
$label-color: #001f3f;
$text-color: #ffffff;
$accent-color-light: lighten($accent-color, 15%);
$primary-color-light: lighten($primary-color, 15%);


.course-list {
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: $background-color;
  border: 1px solid $input-border-color;
  border-radius: 5px;
  max-height: 100vh;
  overflow-y: auto;

  .header {
    background-color: $primary-color;
    color: #fff;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;

    h3 {
      margin: 0;
    }
  }

  .course-item {
    margin-bottom: 20px;
    background-color: lighten($background-color, 10%);
    border: 1px solid $input-border-color;
    border-radius: 5px;
    padding: 15px;

    .course-header {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      h4 {
        margin: 0;
        color: $primary-color;
        font-size: x-large;
      }

      p {
        margin: 0;
        color: darken($primary-color, 10%);
        font-size: medium;
      }
    }

    .course-tags {
      margin-top: 10px;

      span {
        background-color: $primary-color-light;
        color: #fff;
        padding: 5px 10px;
        border-radius: 3px;
        margin-right: 5px;
        display: inline-block;
      }
    }

    .course-modules {
      margin-top: 10px;

      
      ol {
        list-style-type: none;
        padding: 0;

        li {
          background-color: $accent-color-light; // Lighter background color
          color: $accent-color;
          padding: 5px 10px;
          border-radius: 3px;
          margin-bottom: 5px;
          cursor: pointer;
          transition: background-color 0.3s;

          a {
            color: $primary-color;
            font-size: medium;
            font-weight: 550;
            text-decoration: underline; // Underline the module name
          }

          &:hover {
            background-color: darken($accent-color-light, 10%);
            cursor: pointer;
          }
        }
      }
    }
  }

  .module-item {
    position: relative;
    display: inline-block;
    cursor: pointer;

    .tooltip {
      visibility: hidden;
      width: 200px;
      background-color: $accent-color;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px;
      position: absolute;
      z-index: 1;
      bottom: 125%; /* Position the tooltip above the text */
      left: 50%;
      margin-left: -100px; /* Use half of the tooltip width to center it */
      opacity: 0;
      transition: opacity 0.1s;

      &::after {
        content: "";
        position: absolute;
        top: 100%; /* At the bottom of the tooltip */
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: $accent-color transparent transparent transparent; /* Arrow pointing down */
      }
    }

    &:hover .tooltip {
      visibility: visible;
      opacity: 1;
    }
  }

  .add-course-button {
    display: flex;
    justify-content: right;
    margin-bottom: 20px;

    button {
      background-color: $accent-color;
      border: none;
      font-size: medium;
      font-weight: 500;
      padding: 10px 20px;
      color: #ffffff;
      border-radius: 3px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: darken($accent-color, 10%);
      }
    }
  }
}

