<!-- course-list.component.html -->
<div class="course-list">
  <div class="header">
    <h3>Existing Courses</h3>
  </div>

  <div class="add-course-button">
    <button type="button" (click)="createNewCourse()" aria-label="Add New Course" pButton label="Create New Course"></button>
  </div>

  <div *ngIf="courses.length === 0">
    <h3>No courses have been created.</h3>
  </div>

  <div *ngIf="courses.length > 0">
    <div *ngFor="let course of courses" class="course-item">
      <div class="course-header">
        <div>
          <h4>{{ course.courseTitle }}</h4>
          <BR>
          <p>{{ course.courseDescription }}</p>
        </div>
      </div>


      <div class="course-tags">
        <span *ngFor="let tag of course.courseTags">{{ tag }}</span>
      </div>

      <BR>

      <div class="course-modules">
        <ol>
          <li *ngFor="let module of course.courseModules">
            <a (click)="goToAddCourseMaterials(course.courseTitle, module)" title="add training materials to module">{{ module }}</a>
            <span class="tooltip">add training materials to module</span>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
