<!-- cm-sidebar.component.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css" integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">
</head>
<body>
    <div class="sidebar-container">
        <div class="sidebar-container__header">
            <div class="sidebar-container__header__logo">
                <div class="sidebar-container__header__brand"><h3>OrientPro</h3></div>
            </div>
        </div>
    
        <div class="sidebar-container__list"> 
            <div class="sidebar-container__list__item">
                <i class="pi pi-home" aria-hidden="true"></i>
                <div class="sidebar-container__list__item__title">Dashboard</div>
            </div>
            <div class="sidebar-container__list__item">
                <i class="pi pi-graduation-cap" aria-hidden="true"></i>
                <div class="sidebar-container__list__item__title">Courses</div>
            </div>
          
            <div class="sidebar-container__list__item">
                <i class="pi pi-chart-line" aria-hidden="true"></i>
                <div class="sidebar-container__list__item__title">Trainee Progress</div>
            </div>
            <div class="sidebar-container__list__item">
                <i class="pi pi-chart-line" aria-hidden="true"></i>
                <div class="sidebar-container__list__item__title">Guest Trainee Progress</div>
            </div>
         
            <div class="sidebar-container__list__item">
                <i class="pi pi-cog" aria-hidden="true"></i>
                <div class="sidebar-container__list__item__title">Account Settings</div>
            </div>
        </div>

        <div class="sidebar-container__footer">
            <div class="sidebar-container__footer__logo"></div>
            <div class="sidebar-container__footer__data">
                <div class="sidebar-container__footer__data__title">OrientPro</div>
                <div class="sidebar-container__footer__data__subtitle">Learning Management System</div>
            </div>
        </div>
    </div>
</body>
</html>



